:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

p {
  padding: 0.75rem;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -15px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

.cart a {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;

  top: -8px;
  right: -10px;

  background-color: #f4b26b;
  color: purple;

  border-radius: 50%;

  min-width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  font-weight: bold;
}

/* End cart icon styles */

.mission {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  opacity: 0.8;
}

.mission p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.products {
  margin-top: 2rem;
  padding: 1rem;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  position: relative;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* End product detail */
.discount-badge {
  background-color: crimson;
  color: white;
  padding: 0.25em 0.5em;
  font-size: 0.8rem;
  position: absolute;
}

.old-price {
  text-decoration: line-through;
  color: red;
  margin-right: 0.5em;
}

.new-price {
  color: blue;
}

.discount-info {
  display: inline-block;
  background-color: crimson;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  transform: translate(50%);
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15% 100px;
  font-size: var(--small-font);
  align-items: center;
  width: 100%;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
  margin-right: 1rem;
  text-align: right;
}

.cart-card__buttons {
  grid-row: 1/3;
  grid-column: 4;
}

.cart-footer {
  text-align: right;
}
.cart-total {
  font-size: 1.2em;
  text-align: right;
  margin: 1em;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: 10px;
  right: -5px;
  background-color: #EFA868;
  color: #551A8B;
  border-radius: 50%;
  padding: 0.2em 0.45em;
  font-size: 0.75rem;
  font-weight: bold;
}

.hide {
  display: none;
}

.cart-footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Alert styles*/

.alert-list {
  margin: 1rem;
}

.alert-list p {
  padding: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}


@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto auto 100px;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
